<div class="page-content-inner">
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PROFILE SIDEBAR -->
            <div class="profile-sidebar">
                <!-- PORTLET MAIN -->
                <div class="portlet light profile-sidebar-portlet ">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src={{vm.profilePicture}} id="profile-image" class="img-responsive" height="250px" width="250px"> </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name"> {{ vm.profileData.username }} </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <button type="button" class="btn btn-menu btn-sm">Follow</button>
                    </div>
                    <!-- END SIDEBAR BUTTONS -->
                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">

                    </div>
                    <!-- END MENU -->
                </div>
                <!-- END PORTLET MAIN -->
                <!-- PORTLET MAIN -->
                <div class="portlet light ">
                    <!-- STAT -->
                    <div class="row list-separated profile-stat">
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> {{ vm.profileStats.posts }} </div>
                            <div class="uppercase profile-stat-text"> Posts </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> {{ vm.profileStats.followers }} </div>
                            <div class="uppercase profile-stat-text"> Followers </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-6">
                            <div class="uppercase profile-stat-title"> {{ vm.profileStats.following }} </div>
                            <div class="uppercase profile-stat-text"> Following </div>
                        </div>
                    </div>
                    <!-- END STAT -->
                </div>
                <!-- END PORTLET MAIN -->
            </div>
            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->
            <div class="profile-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="portlet light ">
                            <div class="portlet-title tabbable-line">
                                <div class="caption caption-md">
                                    <i class="icon-globe theme-font hide"></i>
                                    <span class="caption-subject font-dark bold uppercase">Perfil</span>
                                </div>
                                <ul class="nav nav-tabs">
                                    <li ng-class="vm.actualTab===1 ? 'active under' : 'under'">
                                        <a ng-click="vm.ChangeTab(1)">Información personal</a>
                                    </li>
                                    <li ng-class="vm.actualTab===2 ? 'active under' : 'under'">
                                        <a ng-click="vm.ChangeTab(2)">Change Avatar</a>
                                    </li>
                                    <li ng-class="vm.actualTab===3 ? 'active under' : 'under'">
                                        <a ng-click="vm.ChangeTab(3)">Contraseña</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="portlet-body">
                                <div class="tab-content">
                                    <!-- PERSONAL INFO TAB -->
                                    <div class="tab-pane active">
                                        <form ng-if="vm.actualTab===1" role="form" ng-submit="vm.UpdateProfileData()">
                                            <profile-data profile=vm.profileData></profile-data>
                                        </form>
                                        <form ng-if="vm.actualTab===3" role="form" ng-submit="vm.ChangePassword()">
                                            <password-change data=vm.passwordData></password-change>
                                        </form>

                                        <div ng-show="vm.actualTab===2" class="form-group">
                                            <div><input type="file" id="fileInput" /></div>
                                            <img src={{vm.newProfilePicture}} class="img-responsive" alt="">
                                            <div class="margin-top-10">
                                                <button ng-click="vm.UpdateProfilePicture()" class="btn btn-menu"> Cambiar imagen </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PROFILE CONTENT -->
        </div>
    </div>
</div>
