<div class="row">
    <div class="col-md-12">
        <form role="form" ng-submit="vm.CreatePost()">
            <div class="portlet light portlet-fit ">
                <button type="submit" class="btn btn-menu-header pull-right">Crear</button>
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark sbold">
                        Título y Descripción
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': form.title.$dirty && form.title.$error.required }">
                                <label for="title">Título</label>
                                <input type="text" name="title" id="title" class="form-control" ng-model="vm.postData.title" required/>
                                <span ng-show="form.title.$dirty && form.title.$error.required" class="help-block">Se requiere título</span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error': form.description.$dirty && form.description.$error.required }">
                                <label for="description">Descripción</label>
                                <textarea type="text" name="description" id="description" class="form-control" ng-model="vm.postData.description" required/></textarea>
                                <span ng-show="form.description.$dirty && form.description.$error.required" class="help-block">Se requiere descripción</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark sbold">
                        Gráfica Principal
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a ng-if="!vm.dashboardState.hasMain" ng-click="vm.AddGraphic(1)">
                                <img src="html/assets/images/add_icon.png" height="200px">
                            </a>
                            <div ng-if="vm.dashboardState.hasMain">
                                
                                <canvas ng-if="vm.dashboard.main.render.id == 'pie'"
                                    id="pie"
                                    class="chart chart-pie"
                                    chart-data="vm.dashboard.main.widgetValues"
                                    chart-labels="vm.dashboard.main.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.main.render.id == 'line'"
                                    id="line"
                                    class="chart chart-line"
                                    chart-data="vm.dashboard.main.widgetValues"
                                    chart-labels="vm.dashboard.main.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.main.render.id == 'bar'"
                                    id="bar"
                                    class="chart chart-bar"
                                    chart-data="vm.dashboard.main.widgetValues"
                                    chart-labels="vm.dashboard.main.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark sbold">
                        Gráfica 1
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a ng-if="!vm.dashboardState.first_submain" ng-click="vm.AddGraphic(2)">
                                <img src="html/assets/images/add_icon.png" height="200px">
                            </a>
                            <div ng-if="vm.dashboardState.first_submain">
                                <canvas ng-if="vm.dashboard.first_submain.render.id == 'pie'"
                                    id="pie"
                                    class="chart chart-pie"
                                    chart-data="vm.dashboard.first_submain.widgetValues"
                                    chart-labels="vm.dashboard.first_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.first_submain.render.id == 'line'"
                                    id="line"
                                    class="chart chart-line"
                                    chart-data="vm.dashboard.first_submain.widgetValues"
                                    chart-labels="vm.dashboard.first_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.first_submain.render.id == 'bar'"
                                    id="bar"
                                    class="chart chart-bar"
                                    chart-data="vm.dashboard.first_submain.widgetValues"
                                    chart-labels="vm.dashboard.first_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark sbold">
                        Gráfica 2
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a ng-if="!vm.dashboardState.second_submain" ng-click="vm.AddGraphic(3)">
                                <img src="html/assets/images/add_icon.png" height="200px">
                            </a>
                            <div ng-if="vm.dashboardState.second_submain">
                                <canvas ng-if="vm.dashboard.second_submain.render.id == 'pie'"
                                    id="pie"
                                    class="chart chart-pie"
                                    chart-data="vm.dashboard.second_submain.widgetValues"
                                    chart-labels="vm.dashboard.second_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.second_submain.render.id == 'line'"
                                    id="line"
                                    class="chart chart-line"
                                    chart-data="vm.dashboard.second_submain.widgetValues"
                                    chart-labels="vm.dashboard.second_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.second_submain.render.id == 'bar'"
                                    id="bar"
                                    class="chart chart-bar"
                                    chart-data="vm.dashboard.second_submain.widgetValues"
                                    chart-labels="vm.dashboard.second_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet light portlet-fit ">
                <div class="portlet-title">
                    <div class="caption">
                        <span class="caption-subject font-dark sbold">
                        Gráfica 3
                        </span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a ng-if="!vm.dashboardState.third_submain" ng-click="vm.AddGraphic(4)">
                                <img src="html/assets/images/add_icon.png" height="200px">
                            </a>
                            <div ng-if="vm.dashboardState.third_submain">
                                <canvas ng-if="vm.dashboard.third_submain.render.id == 'pie'"
                                    id="pie"
                                    class="chart chart-pie"
                                    chart-data="vm.dashboard.third_submain.widgetValues"
                                    chart-labels="vm.dashboard.third_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.third_submain.render.id == 'line'"
                                    id="line"
                                    class="chart chart-line"
                                    chart-data="vm.dashboard.third_submain.widgetValues"
                                    chart-labels="vm.dashboard.third_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                                <canvas ng-if="vm.dashboard.third_submain.render.id == 'bar'"
                                    id="bar"
                                    class="chart chart-bar"
                                    chart-data="vm.dashboard.third_submain.widgetValues"
                                    chart-labels="vm.dashboard.third_submain.widgetLabels"
                                    chart-options="options"
                                    height="327"
                                    width="655"
                                ></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
