<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
    <label for="username">Nombre de usuario</label>
    <input type="text" name="username" id="username" class="form-control" ng-model="vm.profile.username" required disabled/>
    <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Se requiere usuario</span>
</div>

<div class="form-group" ng-class="{ 'has-error': form.occupation.$dirty }">
    <label for="occupation">Ocupación</label>
    <input type="text" name="occupation" id="occupation" class="form-control" ng-model="vm.profile.occupation"/>
</div>

<div class="form-group" ng-class="{ 'has-error': form.biography.$dirty }">
    <label for="biography">Acerca de ti</label>
    <input type="text" name="biography" id="biography" class="form-control" ng-model="vm.profile.biography"/>
</div>

<div class="margiv-top-10">
    <button type="submit" class="btn btn-menu"> Guardar cambios </button>
    <a href="javascript:;" class="btn default"> Cancelar </a>
</div>
